.textArea{
  width: 100%;
  resize: none;
  height: 160px;
  border-radius: 8px;
  outline: none;
  padding: 8px;
  font-size: 19px;
  font-weight: 600;
  background-color: #ddd;
  transition: all 0.7s;

  &:hover{
    background-color: #fff;
    box-shadow: 0 0px 5px #fff;
  }
}