.textArea{
  width: 100%;
  resize: none;
  height: 160px;
  border-radius: 8px;
  outline: none;
  padding: 8px;
  box-shadow: 0 0px 5px #fff;
  transition: all 0.7s;
  font-size: 18px;
  font-weight: 550;
  background-color: #eee;

  &:hover{
    background-color: #fff;
    box-shadow: none;
  }
}