.container {
  width: 100%;
}

.content {
  background-color: #101026;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentForm {
  width: 100%;
  max-width: 1024px;
  padding: 0 18px;
  padding-bottom: 28px;
  margin-top: 32px;
}

.title {
  color: #fff;
  margin-bottom: 18px;
}

.checkBoxArea {
  margin: 14px 0;
}

.checkBoxArea label {
  color: #fff;
  margin-left: 8px;
}

.checkBox {
  width: 18px;
  height: 18px;
}

.button {
  font-weight: bold;
  width: 100%;
  padding: 12px 0;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 21px;
  background-color: #3183ff;
  transition: all 0.5s;

  &:hover {
    box-shadow: 0 0 10px #f1f1f1;
    transform: scale(1.01);
  }
}

/* /////////////////////////////////// */

.tarefaContainer {
  /* background-color: #0f0f0f; */
  background-color: #ccc;
  margin: 35px auto;
  padding: 18px 18px;
  width: 94%;
  max-width: 995px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1.5px solid #FFF;
  box-shadow: 0 0 10px rgb(144, 144, 144, 0.5);
}

.tarefaContainer a {
  text-decoration: none;
  color: #0f0f0f;
}

.tarefaContainer h1 {
  /* background-color: #0f0f0f; */
  background-color: #ccc;
  color: #000;
  text-align: center;
  font-size: 1.9rem;
  margin: 9px auto 36px auto;
  font-weight: bold;
}

.tarefa {
  background-color: #101026;
  min-height: 100px;
  justify-content: center;
  text-transform: capitalize;
  color: #fff;
  font-weight: bold;
  margin-bottom: 16px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1.5px solid #909090;
  box-shadow: 0 0 10px rgb(144, 144, 144, 0.5);
  border-radius: 6px;
  padding: 18px 14px;
}

.tagContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
}

.tag {
  background-color: #3183ff;
  padding: 2px 6px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

.shareButton {
  border: 0;
  margin: 0 8px;
  cursor: pointer;
}

.tarefaContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 0 10px rgb(144, 144, 144, 0.5);
  border-radius: 6px;
  padding: 17px 4px;
}

.linkTarefaPublica p {
  font-size: 19px;
  padding: 17px 17px;
  color: #fff;
  white-space: pre-wrap;
}

.tarefaContent p {
  font-size: 19px;
  padding: 17px 11px;
  color: #fff;
  white-space: pre-wrap;
}

.trashButton {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0 8px;
}

@media screen and (max-width: 668px) {
  .contentForm {
    margin-top: 14px;
  }

  .title {
    font-size: 21px;
    /* text-align: center; */
  }

  .tarefaContainer h1 {
    font-size: 23px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 17px;
  }

  .tarefaContainer h1 {
    font-size: 21px;
  }
}
