@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

html {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 16px; /* Largura da barra de rolagem vertical */
  height: 10px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
  background: #000; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #DC143C; /* Cor da barra de rolagem */
  border-bottom-right-radius: 4px; /* Borda arredondada */
  border-bottom-left-radius: 4px;
}
